.body {
    background-color: rgb(64, 93, 224);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main_menu {
    display: flex;
    height: 70px;
    background-color: #1E90FF;
    flex-direction: row;
    font: bold italic 40px Gabriola, cursive;
    color: white;
    margin: 0px;
    padding-top: 30px;
}

.link_main_menu {
    color: #ffffff;
    margin-left: 30px;
    margin-right: 15px;
    text-decoration: none;
    height: 50px;
}

.link_mapping {
    color: #ffffff;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    height: 50px;
}

.link_show_coordinates {
    color: #ffffff;
    margin-left: 15px;
    text-decoration: none;
    height: 50px;
}

.block_content {
    display: grid:
    justify-content: center;

}

.title_project {
    display: flex;
    justify-content: space-around;
    color: #C0C0C0;
    font: bold italic 55px Gabriola, cursive;
}

.text_base {
    max-width: 1000px;
    display: contents;
}

.line_text_base {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50%;
}

.map {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.coordinates {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
}

.point {
    display: flex;
    justify-content: center;
    width: 800px;
}

.item_point {
    margin-left: 10px;
    margin-right: 10px;
}

.paginator {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.links {
    color: #ffffff;
    text-decoration-line: none;
}